* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#container {
    font-size: 1.5rem;
}

.trans {
    position: absolute;
    bottom: 10px;
    padding: 10px;

}

#mod {
    margin-left: auto;
    margin-right: auto;
    border: 20px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    background-color: rgb(255 255 255 / 98%);
    font-size: 2rem;
}